<!-- Header Section -->
<header class="header">
    <div class="header__container">
        <a href="#" class="header__logo">
            <%= image_tag 'logo-incuba.png', alt: 'INCUBA UNAS Logo', class: 'header__logo--image' %>
        </a>

        <nav class="header__nav nav">
            <ul class="nav__list">
                <li class="nav__item"><a href="#" class="nav__link">Programas</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Nosotros</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Portafolio</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Testimonios</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Equipo</a></li>
            </ul>
        </nav>
        <a href="#" class="header__contact-btn btn btn--outline">Contact</a>
    </div>
</header>