<!DOCTYPE html>
<html>
  <head>
    <title>INCUBA UNAS - Transformando el ecosistema emprendedor de la Amazonía</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
